<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<!-- Sidebar Featured Tutorials -->
<section class="column home-right-item-wrap relative com-2-panel J-specialTopicPanel"
         th:fragment="side_column(side)">

    <div class="column-content">
        <div class="home-right-item-title absolute">
            <div class="com-2-panel-title"
                 th:text="${side.title}">Featured Tutorials</div>
        </div>
        <div class="home-right-item-post-list com-2-panel-bd">
            <ul class="com-2-side-topics without-margin">
                <li th:each="item : ${side.items}">
                    <a th:href="${item.url}"
                       class="com-media com-side-topic">
                        <div class="com-media-object">
                            <span class="com-thumbnail"
                                  th:style="'background-image:url('+${item.img}+')'">
                            </span>
                        </div>
                        <div class="com-media-body">
                            <div class="com-side-topic-title">
                                <span class="vip-free-tag tag">Free</span>
                                <span class="column-title"
                                      th:text="${item.name}"></span>
                            </div>
                            <div class="com-side-topic-desc" th:text="${item.title}">Tutorial Description</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
